[submodule "home/vim/bundle/rspec"]
	path = home/vim/bundle/rspec
	url = https://github.com/skwp/vim-rspec.git
[submodule "home/vim/bundle/vim-ruby"]
	path = home/vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/vim/bundle/vim-rails"]
	path = home/vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/vim/bundle/snipmate.vim"]
	path = home/vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "home/vim/bundle/vim-pandoc"]
	path = home/vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "home/vim/bundle/nerdtree"]
	path = home/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/vim/bundle/vim-colors-solarized"]
	path = home/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/solarized.git
[submodule "home/vim/bundle/airline"]
	path = home/vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "home/vim/bundle/table-mode"]
	path = home/vim/bundle/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "home/vim/bundle/vim-airline-themes"]
	path = home/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "home/vim/bundle/fugitive"]
	path = home/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/vim/bundle/groovyindent-unix"]
	path = home/vim/bundle/groovyindent-unix
	url = https://github.com/vim-scripts/groovyindent-unix.git
[submodule "home/vim/bundle/ctrlp.vim"]
	path = home/vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "home/vim/bundle/vim-terraform"]
	path = home/vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
